body {
  padding: 10px;
}

.accordion {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 8px;
  padding: 30px;
  border-radius: 10px;

  .header {
    display: flex;
    justify-content: center;
    padding-right: 5px;

    .search {
      margin-left: 10px;
      position: relative;

      .searchInputShow {
        display: block;
        z-index: 100;
        top: 9px;
        left: 5px;
        position: absolute;
      }

      .searchInputDisable {
        display: none;
      }

      input {
        background-color: #f6f6f6;
        width: 300px;
        height: 35px;
        border: 1px solid #e9e3e3;
        border-radius: 5px;

        &:focus {
          outline: none !important;
          background-color: #f6f6f6;
          border: 1px solid #e9e3e3;
        }

        &::-moz-placeholder {
          padding-left: 25px;
          color: #0078d4;
          font-size: medium;
        }

        &::placeholder {
          padding-left: 25px;
          color: #0078d4;
          font-size: medium;
        }
      }

      .searchIcon {
        z-index: 100;
        top: 9px;
        left: 5px;
        position: absolute;
      }
    }

    button {
      background-color: #0078d4;
      color: #ffffff;
    }
  }

  .accordianContent {
    margin-top: 30px;
  }

  details {
    margin-block: 10px;
    transition: transform 250ms;
    background-color: #ffffff;
    border-radius: 10px;

    &:hover {
      transform: translateZ(-10px);
    }

    &>summary {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;
      padding-block: 5px;
      padding-inline: 25px;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 8px;
      border-radius: 10px;

      .summary-title {
        display: flex;
        align-items: center;
        -moz-column-gap: 5px;
        column-gap: 5px;
      }

      .parent-title {
        text-transform: capitalize;
      }

      .parent-summary {
        background-color: #76e2ee;
        border-radius: 10px;
        font-weight: 700;
      }

      &:is(.parent-summary):is(.open) {
        border-left: 4px solid blue;
      }

      &:not(:is(.parent-summary)) {
        color: gray;
        font-weight: 600;
      }

      &>p {
        padding: 0;
        margin: 0;
      }
    }

    details {
      margin-inline: 50px;
      margin-bottom: 10px;
    }
  }

  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;

    tbody {
      border-radius: 10px;
      border: 1px solid #d9d9d9;

      tr {
        &:nth-child(2n) {
          background-color: #f1f1f1;
        }

        td {
          padding: 10px;
          text-align: center;
        }
      }
    }
  }
}

.accordion details>summary::marker,
.accordion details>summary::-webkit-details-marker {
  display: none;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 30px;

  .card {
    width: 200px;
    height: 130px;
    background-color: #f0f2f9;
    border-radius: 7px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 2px 4px 8px;

    .icon {
      display: flex;
      cursor: pointer;

      svg {
        width: 35px;
        padding-right: 20px;
      }

      .title {
        font-weight: 600;
        color: #0078d4;
        text-transform: capitalize;
        width: 180px;
        height: 50px;
        word-wrap: break-word;
        overflow: hidden;
      }
    }



    .content {
      display: flex;
      align-items: center;
      -moz-column-gap: 20px;
      column-gap: 20px;
      height: 4px;

      .sopRefrence {
        width: 160px;
      }

      .location {
        width: 40px;
      }
    }
  }
}


.open {
  border-left: 4px solid blue;
}

.vewbutton {
  background-color: #0078d4;
  color: #ffffff;
}

@media only screen and (max-width: 700px) {
  .cards-container {
    justify-content: center;
  }

}